<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>PHP Software Engineer, speaker, author, conference organizer.</p>
    <p>
      Board member of <a href="https://twitter.com/grusp">@grusp</a> organizing a whole lot of conferences like
      <a href="https://twitter.com/phpday">phpday</a>, <a href="https://twitter.com/jsconfit">jsday</a>,
      <a href="https://twitter.com/vuedayit">vueday</a>, <a href="https://twitter.com/rubyday">rubyday</a>,
      <a href="https://twitter.com/sfdayit">sfday</a>, <a href="https://twitter.com/nodejsconfit">nodejsday</a>
      and many more!
    </p>
    <p>
      When not sitting or standing at a desk typing code you can find somewhere outdoors training for some ultra trail
      race.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
