<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Developer, speaker, author, conference organizer.</p>
  <p>
    PHP/Symfony2 developer at <a href="https://twitter.com/nelmio">@nelmio</a>.
    Board member of <a href="https://twitter.com/phpday">@phpday</a>
    and <a href="https://twitter.com/jsconfit">@jsconfit</a>. Slow runner.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
